img {
  display: inline-block;
  max-width: 100%;
  height: 235px;
}
body {
  padding: 10px;
}
button {
  display: inline-block;
  cursor: pointer;
  border: none;
  background-color: paleturquoise;
}
p {
  display: inline-block;
}
.info {
  font-family: monospace;
  font-size: 16px;
  display: flex;
  text-align: center;
}
.gallery {
  display: flex;
  margin: -10px;
  flex-wrap: wrap;
}
.photo-card {
  width: calc((100% - 4 * 20px) / 4);
  margin: 10px;
  border: 1px solid black;
}
.hidden {
  visibility: hidden;
}

.search-form {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}
.load-more {
  margin-left: 45.5vw;
  margin-top: 10px;
}
